<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Travel App</title>
</head>

<body class="body">
  <!-- Header -->
  <header class="header">
    <div class="company">Travel App</div>
  </header>

  <!-- Banner -->
  <section class="banner">
    <h2>EXPLORE THE WORLD</h2>
    <p>Select a departure date and a Country to visit. If the selected Country has cities from Geonames, a dropdown will
      be generated of cities within that country.</p>
  </section>

  <main>
    <section>
      <!-- Form -->
      <form class="form">
        <!-- Date Selection -->
        <label class="default-label center" for="departure-date">Departure Date</label>
        <div class="date-container">
          <input type="date" id="departure-date" name="departure">
        </div>

        <!-- Country Selection -->
        <label class="default-label" for="dropdown-country">What Country would you like to visit?</label>
        <select id="dropdown-country" class="row-dropdown">
          <option value="AD">Andorra</option>
          <option value="AE">United Arab Emirates</option>
          <option value="AF">Afghanistan</option>
          <option value="AG">Antigua and Barbuda</option>
          <option value="AI">Anguilla</option>
          <option value="AL">Albania</option>
          <option value="AM">Armenia</option>
          <option value="AN">Netherlands Antilles</option>
          <option value="AO">Angola</option>
          <option value="AQ">Antarctica</option>
          <option value="AR">Argentina</option>
          <option value="AS">American Samoa</option>
          <option value="AT">Austria</option>
          <option value="AU">Australia</option>
          <option value="AW">Aruba</option>
          <option value="AX">Åland</option>
          <option value="AZ">Azerbaijan</option>
          <option value="BA">Bosnia and Herzegovina</option>
          <option value="BB">Barbados</option>
          <option value="BD">Bangladesh</option>
          <option value="BE">Belgium</option>
          <option value="BF">Burkina Faso</option>
          <option value="BG">Bulgaria</option>
          <option value="BH">Bahrain</option>
          <option value="BI">Burundi</option>
          <option value="BJ">Benin</option>
          <option value="BL">Saint Barthélemy</option>
          <option value="BM">Bermuda</option>
          <option value="BN">Brunei</option>
          <option value="BO">Bolivia</option>
          <option value="BQ">Bonaire, Sint Eustatius, and Saba</option>
          <option value="BR">Brazil</option>
          <option value="BS">Bahamas</option>
          <option value="BT">Bhutan</option>
          <option value="BV">Bouvet Island</option>
          <option value="BW">Botswana</option>
          <option value="BY">Belarus</option>
          <option value="BZ">Belize</option>
          <option value="CA">Canada</option>
          <option value="CC">Cocos [Keeling] Islands</option>
          <option value="CD">DR Congo</option>
          <option value="CF">Central African Republic</option>
          <option value="CG">Congo Republic</option>
          <option value="CH">Switzerland</option>
          <option value="CI">Ivory Coast</option>
          <option value="CK">Cook Islands</option>
          <option value="CL">Chile</option>
          <option value="CM">Cameroon</option>
          <option value="CN">China</option>
          <option value="CO">Colombia</option>
          <option value="CR">Costa Rica</option>
          <option value="CS">Serbia and Montenegro</option>
          <option value="CU">Cuba</option>
          <option value="CV">Cabo Verde</option>
          <option value="CW">Curaçao</option>
          <option value="CX">Christmas Island</option>
          <option value="CY">Cyprus</option>
          <option value="CZ">Czechia</option>
          <option value="DE">Germany</option>
          <option value="DJ">Djibouti</option>
          <option value="DK">Denmark</option>
          <option value="DM">Dominica</option>
          <option value="DO">Dominican Republic</option>
          <option value="DZ">Algeria</option>
          <option value="EC">Ecuador</option>
          <option value="EE">Estonia</option>
          <option value="EG">Egypt</option>
          <option value="EH">Western Sahara</option>
          <option value="ER">Eritrea</option>
          <option value="ES">Spain</option>
          <option value="ET">Ethiopia</option>
          <option value="FI">Finland</option>
          <option value="FJ">Fiji</option>
          <option value="FK">Falkland Islands</option>
          <option value="FM">Micronesia</option>
          <option value="FO">Faroe Islands</option>
          <option value="FR">France</option>
          <option value="GA">Gabon</option>
          <option value="GB">United Kingdom</option>
          <option value="GD">Grenada</option>
          <option value="GE">Georgia</option>
          <option value="GF">French Guiana</option>
          <option value="GG">Guernsey</option>
          <option value="GH">Ghana</option>
          <option value="GI">Gibraltar</option>
          <option value="GL">Greenland</option>
          <option value="GM">Gambia</option>
          <option value="GN">Guinea</option>
          <option value="GP">Guadeloupe</option>
          <option value="GQ">Equatorial Guinea</option>
          <option value="GR">Greece</option>
          <option value="GS">South Georgia and South Sandwich Islands</option>
          <option value="GT">Guatemala</option>
          <option value="GU">Guam</option>
          <option value="GW">Guinea-Bissau</option>
          <option value="GY">Guyana</option>
          <option value="HK">Hong Kong</option>
          <option value="HM">Heard Island and McDonald Islands</option>
          <option value="HN">Honduras</option>
          <option value="HR">Croatia</option>
          <option value="HT">Haiti</option>
          <option value="HU">Hungary</option>
          <option value="ID">Indonesia</option>
          <option value="IE">Ireland</option>
          <option value="IL">Israel</option>
          <option value="IM">Isle of Man</option>
          <option value="IN">India</option>
          <option value="IO">British Indian Ocean Territory</option>
          <option value="IQ">Iraq</option>
          <option value="IR">Iran</option>
          <option value="IS">Iceland</option>
          <option value="IT">Italy</option>
          <option value="JE">Jersey</option>
          <option value="JM">Jamaica</option>
          <option value="JO">Jordan</option>
          <option value="JP">Japan</option>
          <option value="KE">Kenya</option>
          <option value="KG">Kyrgyzstan</option>
          <option value="KH">Cambodia</option>
          <option value="KI">Kiribati</option>
          <option value="KM">Comoros</option>
          <option value="KN">St Kitts and Nevis</option>
          <option value="KP">North Korea</option>
          <option value="KR">South Korea</option>
          <option value="KW">Kuwait</option>
          <option value="KY">Cayman Islands</option>
          <option value="KZ">Kazakhstan</option>
          <option value="LA">Laos</option>
          <option value="LB">Lebanon</option>
          <option value="LC">Saint Lucia</option>
          <option value="LI">Liechtenstein</option>
          <option value="LK">Sri Lanka</option>
          <option value="LR">Liberia</option>
          <option value="LS">Lesotho</option>
          <option value="LT">Lithuania</option>
          <option value="LU">Luxembourg</option>
          <option value="LV">Latvia</option>
          <option value="LY">Libya</option>
          <option value="MA">Morocco</option>
          <option value="MC">Monaco</option>
          <option value="MD">Moldova</option>
          <option value="ME">Montenegro</option>
          <option value="MF">Saint Martin</option>
          <option value="MG">Madagascar</option>
          <option value="MH">Marshall Islands</option>
          <option value="MK">North Macedonia</option>
          <option value="ML">Mali</option>
          <option value="MM">Myanmar</option>
          <option value="MN">Mongolia</option>
          <option value="MO">Macao</option>
          <option value="MP">Northern Mariana Islands</option>
          <option value="MQ">Martinique</option>
          <option value="MR">Mauritania</option>
          <option value="MS">Montserrat</option>
          <option value="MT">Malta</option>
          <option value="MU">Mauritius</option>
          <option value="MV">Maldives</option>
          <option value="MW">Malawi</option>
          <option value="MX">Mexico</option>
          <option value="MY">Malaysia</option>
          <option value="MZ">Mozambique</option>
          <option value="NA">Namibia</option>
          <option value="NC">New Caledonia</option>
          <option value="NE">Niger</option>
          <option value="NF">Norfolk Island</option>
          <option value="NG">Nigeria</option>
          <option value="NI">Nicaragua</option>
          <option value="NL">Netherlands</option>
          <option value="NO">Norway</option>
          <option value="NP">Nepal</option>
          <option value="NR">Nauru</option>
          <option value="NU">Niue</option>
          <option value="NZ">New Zealand</option>
          <option value="OM">Oman</option>
          <option value="PA">Panama</option>
          <option value="PE">Peru</option>
          <option value="PF">French Polynesia</option>
          <option value="PG">Papua New Guinea</option>
          <option value="PH">Philippines</option>
          <option value="PK">Pakistan</option>
          <option value="PL">Poland</option>
          <option value="PM">Saint Pierre and Miquelon</option>
          <option value="PN">Pitcairn Islands</option>
          <option value="PR">Puerto Rico</option>
          <option value="PS">Palestine</option>
          <option value="PT">Portugal</option>
          <option value="PW">Palau</option>
          <option value="PY">Paraguay</option>
          <option value="QA">Qatar</option>
          <option value="RE">Réunion</option>
          <option value="RO">Romania</option>
          <option value="RS">Serbia</option>
          <option value="RU">Russia</option>
          <option value="RW">Rwanda</option>
          <option value="SA">Saudi Arabia</option>
          <option value="SB">Solomon Islands</option>
          <option value="SC">Seychelles</option>
          <option value="SD">Sudan</option>
          <option value="SE">Sweden</option>
          <option value="SG">Singapore</option>
          <option value="SH">Saint Helena</option>
          <option value="SI">Slovenia</option>
          <option value="SJ">Svalbard and Jan Mayen</option>
          <option value="SK">Slovakia</option>
          <option value="SL">Sierra Leone</option>
          <option value="SM">San Marino</option>
          <option value="SN">Senegal</option>
          <option value="SO">Somalia</option>
          <option value="SR">Suriname</option>
          <option value="SS">South Sudan</option>
          <option value="ST">São Tomé and Príncipe</option>
          <option value="SV">El Salvador</option>
          <option value="SX">Sint Maarten</option>
          <option value="SY">Syria</option>
          <option value="SZ">Eswatini</option>
          <option value="TC">Turks and Caicos Islands</option>
          <option value="TD">Chad</option>
          <option value="TF">French Southern Territories</option>
          <option value="TG">Togo</option>
          <option value="TH">Thailand</option>
          <option value="TJ">Tajikistan</option>
          <option value="TK">Tokelau</option>
          <option value="TL">Timor-Leste</option>
          <option value="TM">Turkmenistan</option>
          <option value="TN">Tunisia</option>
          <option value="TO">Tonga</option>
          <option value="TR">Turkey</option>
          <option value="TT">Trinidad and Tobago</option>
          <option value="TV">Tuvalu</option>
          <option value="TW">Taiwan</option>
          <option value="TZ">Tanzania</option>
          <option value="UA">Ukraine</option>
          <option value="UG">Uganda</option>
          <option value="UM">U.S. Minor Outlying Islands</option>
          <option value="US">United States</option>
          <option value="UY">Uruguay</option>
          <option value="UZ">Uzbekistan</option>
          <option value="VA">Vatican City</option>
          <option value="VC">St Vincent and Grenadines</option>
          <option value="VE">Venezuela</option>
          <option value="VG">British Virgin Islands</option>
          <option value="VI">U.S. Virgin Islands</option>
          <option value="VN">Vietnam</option>
          <option value="VU">Vanuatu</option>
          <option value="WF">Wallis and Futuna</option>
          <option value="WS">Samoa</option>
          <option value="XK">Kosovo</option>
          <option value="YE">Yemen</option>
          <option value="YT">Mayotte</option>
          <option value="ZA">South Africa</option>
          <option value="ZM">Zambia</option>
          <option value="ZW">Zimbabwe</option>

        </select>
        <input id="submit-country-button" class="submit-button" type="submit" value="Submit">
        <p><strong>Note:</strong> If Country selected has no cities from Geonames, city dropdown selection will not show.</p>
        <span>Example Country with cities: <strong>Australia</strong></span>
        <span>Example without cities: <strong>Albania</strong></span>
        <!-- City or area selection -->
        <div id="container-area" class="country-area hidden">
          <label class="default-label" for="dropdown-country">Area within that country?</label>
          <select id="js-country-cities" class="row-dropdown">
            <!-- JS Generates data here based on first selection -->
          </select>
          <input id="submit-area-button" class="submit-button" type="submit" value="Submit City">
        </div>
      </form>
    </section>

    <!-- Section of results for weaher conditions, location, and picture. -->
    <section id="final-results-container" class="display-none">
      <!-- Weather output section -->
      <div class="section-weather">
        <h4 class="weather-header">Next 16-Day Forcast for <span id="forecast-city-name"></span></h4>
        <!-- 16 Weather Cards below  -->
        <div class="weather-card">
          <div class="card-header" id="valid-date-0">2020-99-99</div>
          <div class="weather-description" id="weather-description-0">Moderate Rain</div>
          <div>Max <span id="max-temp-0">12.4</span></div>
          <div>Temp <span id="temp-0">23.4</span></div>
          <div>Min <span id="min-temp-0">5.34</span></div>
        </div>

        <div class="weather-card">
          <div class="card-header" id="valid-date-1">2020-99-99</div>
          <div class="weather-description" id="weather-description-1">Moderate Rain</div>
          <div>Max <span id="max-temp-1">12.4</span></div>
          <div>Temp <span id="temp-1">23.4</span></div>
          <div>Min <span id="min-temp-1">5.34</span></div>
        </div>

        <div class="weather-card">
          <div class="card-header" id="valid-date-2">2020-99-99</div>
          <div class="weather-description" id="weather-description-2">Moderate Rain</div>
          <div>Max <span id="max-temp-2">12.4</span></div>
          <div>Temp <span id="temp-2">23.4</span></div>
          <div>Min <span id="min-temp-2">5.34</span></div>
        </div>

        <div class="weather-card">
          <div class="card-header" id="valid-date-3">2020-99-99</div>
          <div class="weather-description" id="weather-description-3">Moderate Rain</div>
          <div>Max <span id="max-temp-3">12.4</span></div>
          <div>Temp <span id="temp-3">23.4</span></div>
          <div>Min <span id="min-temp-3">5.34</span></div>
        </div>

        <div class="weather-card">
          <div class="card-header" id="valid-date-4">2020-99-99</div>
          <div class="weather-description" id="weather-description-4">Moderate Rain</div>
          <div>Max <span id="max-temp-4">12.4</span></div>
          <div>Temp <span id="temp-4">23.4</span></div>
          <div>Min <span id="min-temp-4">5.34</span></div>
        </div>

        <div class="weather-card">
          <div class="card-header" id="valid-date-5">2020-99-99</div>
          <div class="weather-description" id="weather-description-5">Moderate Rain</div>
          <div>Max <span id="max-temp-5">12.4</span></div>
          <div>Temp <span id="temp-5">23.4</span></div>
          <div>Min <span id="min-temp-5">5.34</span></div>
        </div>

        <div class="weather-card">
          <div class="card-header" id="valid-date-6">2020-99-99</div>
          <div class="weather-description" id="weather-description-6">Moderate Rain</div>
          <div>Max <span id="max-temp-6">12.4</span></div>
          <div>Temp <span id="temp-6">23.4</span></div>
          <div>Min <span id="min-temp-6">5.34</span></div>
        </div>

        <div class="weather-card">
          <div class="card-header" id="valid-date-7">2020-99-99</div>
          <div class="weather-description" id="weather-description-7">Moderate Rain</div>
          <div>Max <span id="max-temp-7">12.4</span></div>
          <div>Temp <span id="temp-7">23.4</span></div>
          <div>Min <span id="min-temp-7">5.34</span></div>
        </div>

        <div class="weather-card">
          <div class="card-header" id="valid-date-8">2020-99-99</div>
          <div class="weather-description" id="weather-description-8">Moderate Rain</div>
          <div>Max <span id="max-temp-8">12.4</span></div>
          <div>Temp <span id="temp-8">23.4</span></div>
          <div>Min <span id="min-temp-8">5.34</span></div>
        </div>

        <div class="weather-card">
          <div class="card-header" id="valid-date-9">2020-99-99</div>
          <div class="weather-description" id="weather-description-9">Moderate Rain</div>
          <div>Max <span id="max-temp-9">12.4</span></div>
          <div>Temp <span id="temp-9">23.4</span></div>
          <div>Min <span id="min-temp-9">5.34</span></div>
        </div>

        <div class="weather-card">
          <div class="card-header" id="valid-date-10">2020-99-99</div>
          <div class="weather-description" id="weather-description-10">Moderate Rain</div>
          <div>Max <span id="max-temp-10">12.4</span></div>
          <div>Temp <span id="temp-10">23.4</span></div>
          <div>Min <span id="min-temp-10">5.34</span></div>
        </div>

        <div class="weather-card">
          <div class="card-header" id="valid-date-11">2020-99-99</div>
          <div class="weather-description" id="weather-description-11">Moderate Rain</div>
          <div>Max <span id="max-temp-11">12.4</span></div>
          <div>Temp <span id="temp-11">23.4</span></div>
          <div>Min <span id="min-temp-11">5.34</span></div>
        </div>

        <div class="weather-card">
          <div class="card-header" id="valid-date-12">2020-99-99</div>
          <div class="weather-description" id="weather-description-12">Moderate Rain</div>
          <div>Max <span id="max-temp-12">12.4</span></div>
          <div>Temp <span id="temp-12">23.4</span></div>
          <div>Min <span id="min-temp-12">5.34</span></div>
        </div>

        <div class="weather-card">
          <div class="card-header" id="valid-date-13">2020-99-99</div>
          <div class="weather-description" id="weather-description-13">Moderate Rain</div>
          <div>Max <span id="max-temp-13">12.4</span></div>
          <div>Temp <span id="temp-13">23.4</span></div>
          <div>Min <span id="min-temp-13">5.34</span></div>
        </div>

        <div class="weather-card">
          <div class="card-header" id="valid-date-14">2020-99-99</div>
          <div class="weather-description" id="weather-description-14">Moderate Rain</div>
          <div>Max <span id="max-temp-14">12.4</span></div>
          <div>Temp <span id="temp-14">23.4</span></div>
          <div>Min <span id="min-temp-14">5.34</span></div>
        </div>

        <div class="weather-card">
          <div class="card-header" id="valid-date-15">2020-99-99</div>
          <div class="weather-description" id="weather-description-15">Moderate Rain</div>
          <div>Max <span id="max-temp-15">12.4</span></div>
          <div>Temp <span id="temp-15">23.4</span></div>
          <div>Min <span id="min-temp-15">5.34</span></div>
        </div>
      </div>

      <!-- Results section -->
      <div id="city-photo" class="section-trip-results">
        <div class="results-text-container">
          <div><span id="final-city-name"></span> <span id="final-country-name"></span></div>
          <div class="timer">Departure Countdown: <span id="countdown"> Timer </span></div>
        </div>
      </div>
    </section>
  </main>

  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
  </script>

</body>

</html>
